$white: #fff;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 72px;
}



/*CHANGES THE LENGTH OF THE CODE LINES CONTAINED IN THE "PRE" SELECTORS TO AROUND 60 CHARACTERS PER LINE*/
pre {

  max-width: 66%;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;

}

pre:hover{

  white-space: normal;
  max-width: 95%;

}


@media (max-width: 414px){

  pre {max-width: 100%; white-space: normal; overflow: auto; word-break: break-all};

}

@media (max-width: 768px){

  pre {max-width: 70%; white-space: normal; word-break: break-all};

}


/*CHANGES THE LENGTH OF THE CODE LINES CONTAINED IN THE "PRE" SELECTORS TO AROUND 60 CHARACTERS PER LINE IN THE SPECIFICATION FILE*/
#p-size6 pre {

  max-width: 36%;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;

}

#p-size6 pre:hover{

  white-space: normal;
  max-width: 95%;

}


@media (max-width: 414px){

  #p-size6 pre {max-width: 100%; white-space: normal; overflow: auto; word-break: break-all};

}

@media (max-width: 768px){

  #p-size6 pre {max-width: 55%; white-space: normal; word-break: break-all};

}


hr {
  margin: 20px 0;
}

img {
  max-width: 100%;
}

.jumbotron {

  &.theme-default {
    background-color: $white;
}

  &.theme-dark {
    h3 {
      padding-top: 0;
      font-size: 250%;
    }
  }
}

.article-howtos {
  margin-left: 40px;
}
