$white: #fff;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 72px;
}



// CHANGES THE LENGTH OF THE CODE LINES CONTAINED IN THE "PRE" SELECTORS TO AROUND 60 CHARACTERS PER LINE
// DEVICE BREAKPOINTS

// EXTRA SMALL SCREEN: Smart phones
@media (max-width: 600px) {

  pre {max-width: 100%;
    overflow: auto;
    white-space: normal;
    word-break: break-all
  };
}

// SMALL SCREEN: Large Smart phones
@media (min-width: 600px) {

  pre {max-width: 100%;
       overflow: auto;
       white-space: normal;
       word-break: break-all
     };

}

// MEDIUM SCREEN: Tablets, iPad
@media (min-width: 768px) {

  pre {max-width: 68%;
       white-space: normal;
       word-break: break-all
     };

}

// LARGE SCREEN: Large Tablets, iPad Pro
@media (min-width: 992px) {

  pre {max-width: 54%;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
       word-break: break-all
     };
  pre {
    &:hover {max-width: 95%;
             white-space: normal
           };
  }
}

// EXTRA LARGE SCREEN: Desktop
@media (min-width: 1200px) {

  pre {max-width: 48%;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
       word-break: break-all
     };
  pre {
    &:hover {white-space: normal;
             max-width: 95%
           };
  }
}

//CHANGES THE LENGTH OF THE CODE LINES CONTAINED IN THE "PRE" SELECTORS TO AROUND 60 CHARACTERS PER LINE IN THE SPECIFICATION FILE


// EXTRA SMALL SCREEN: Smart phones
@media (max-width: 600px) {

#p-size6  pre {max-width: 100%;
               overflow: auto;
               white-space: normal;
               word-break: break-all
             };

}

// SMALL SCREEN: Large Smart phones
@media (min-width: 600px) {

#p-size6  pre {max-width: 100%;
               overflow: auto;
               white-space: normal;
               word-break: break-all
             };

}

// MEDIUM SCREEN: Tablets, iPad
@media (min-width: 768px) {

#p-size6  pre {max-width: 68%;
               white-space: normal;
               word-break: break-all
             };

}

// LARGE SCREEN: Large Tablets, iPad Pro
@media (min-width: 992px) {

#p-size6  pre {max-width: 46%;
               overflow: hidden;
               white-space: nowrap;
               text-overflow: ellipsis;
               word-break: break-all
             };
#p-size6  pre {
              &:hover {max-width: 95%;
                       white-space: normal
                     };
          }
}

// EXTRA LARGE SCREEN: Desktop
@media (min-width: 1200px) {

#p-size6  pre {max-width: 44%;
               overflow: hidden;
               white-space: nowrap;
               text-overflow: ellipsis;
               word-break: break-all
             };
#p-size6  pre {
              &:hover {max-width: 95%;
                       white-space: normal
                     };
          }
}


hr {
  margin: 20px 0;
}

img {
  max-width: 100%;
}

.jumbotron {

  &.theme-default {
    background-color: $white;
}

  &.theme-dark {
    h3 {
      font-size: 250%;
      padding-top: 0;
    }
  }
}

.article-howtos {
  margin-left: 40px;
}
