$white: #fff;
$darkcyan2: #158784;

header {
  .navbar-nav {

    img {
      vertical-align: middle;
      width: 50px;
    }
  }

  .submenu {
    &:hover {
      ul {
        display: block;
        position: relative;
      }
    }

    ul {
      display: none;
      list-style: none;

      .submenu-items {
        background-color: $darkcyan2;
        display: inline-block;
        left: 240px;
        position: absolute;
        top: -54px;
        width: 240px;

        li {
          height: 52px;
        }

        a {
          color: $white;
          display: block;
          height: auto;
          line-height: 1.5;
          padding: 15px 24px;
        }
      }
    }
  }

  @media (max-width: 1084px) {
    .logo {
      height: 30px;
      margin-top: -1.5px;
    }
  }

  @media (min-width: 1084px) {
    .logo {
      height: 50px;
      margin-top: -11px;
    }
  }
}

.modal-body {
  $size: 15px;
  font-size: $size;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: $size * 1.3;
    font-weight: bold;
    padding: 10px 0;
  }

  h1 {
    font-size: $size * 1.8;
  }
}

.title-page {
  font-family: 'Segoe UI Light', 'Segoe UI', 'Selawik Light', Tahoma, Verdana, Arial, sans-serif;
  font-size: 2.5rem;
  padding: 10px 0;
}
