/********************************/
/***RESPONSIVE PARAGRAPH STYLE TEMPLATE***/
/*******************************/

.p-size {

  max-width: 32%;

}

.p-size2 {

  max-width: 58%;


}

.p-size3 {

  max-width: 40%;

}

.p-size4 {

  max-width: 43%;

}

/*USE THIS CLASS ON "ROGUE LINES" (those lines that depic code with more than 60 characters per line), adds a grey border to the left to stay true to the original style */
.p-size5 {

  /*background-color: red;*/
  max-width: 47%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.6;
  padding-left: 12px;
  padding-bottom: 12px;
  border-left: 5px solid #D9D9D9;

}

.p-size5 span{

  vertical-align: top;

}

.p-size5:hover {

  overflow: visible;

}

.p-size6 {

  max-width: 58%;


}

ul.p-size3 {

  margin-left: 30px;

}

/*SMALL SCREEN: Smart phones*/
@media (max-width: 414px) {

  .p-size {max-width: 100%};
  .p-size2 {max-width: 100%};
  .p-size3 {max-width: 100%};
  .p-size4 {max-width: 100%};
  .p-size5 {max-width: 100%; white-space: normal; overflow: auto; word-break: break-all};
  .post-content .highlighter-rouge pre code {max-width: 100%; white-space: normal; overflow: auto; word-break: break-all};
  .p-size6 {max-width: 100%};

}

/*MEDIUM SCREEN: Tablets, iPad*/
@media (max-width: 768px) {

  .p-size {max-width: 60%};
  .p-size2 {max-width: 80%};
  .p-size3 {max-width: 70%};
  .p-size4 {max-width: 80%};
  .p-size5 {max-width: 70%; white-space: normal; word-break: break-all};
  .post-content .highlighter-rouge pre code {max-width: 70%; white-space: normal; word-break: break-all};
  .p-size6 {max-width: 63%};
}

/*************************************/
/*****GENERAL DECORATIVE EFFECTS******/
/*************************************/


/*CREATES SHADOW EFFECT TO ADD MORE DEPTH*/
.boxshadow {

  box-shadow: 0px 0px 5px grey;
  -moz-box-shadow:0 0 5px grey;
  -webkit-box-shadow:0 0 5px grey;
  background-color: rgba(0,0,0,0.2);

}

/*CODE-DOCUMENTATION FILES'S FOOTER STYLE*/
Blockquote {

  margin-bottom: 10px;

}

Blockquote.type-p2 {

  padding: 4px 0 4px 21px;
  margin: 24px 0 0;

}

/*ICON'S TRANSITION*/
.img-pop {

  transition: all .2s ease-in-out;

}

/*INCREASES THE SIZE OF THE ICONS ON HOVER*/
.img-pop:hover {

  transform: scale(1.1);
  box-shadow: 0px 0px 5px grey;
  -moz-box-shadow:0 0 5px grey;
  -webkit-box-shadow:0 0 5px grey;

}

.icon {

  height: 250px;
  width: 250px;

}

.footerstyle {

  border-top: 3px #158784 solid;

}

/**********************************/
/**CODE DOCUMENTATION POSTS STYLE**/
/**********************************/


.post-content .highlighter-rouge pre code{

  max-width: 66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.post-content .highlighter-rouge pre code:hover{

  white-space: normal;
  max-width: 95%;
  overflow: visible;

}

.post-content p{

  max-width: 58%;

}

/*SMALL SCREEN: Smart phones*/
@media (max-width: 414px) {

  .post-content p {max-width: 100%};
  .post-content .highlighter-rouge pre code {max-width: 100%; white-space: normal; overflow: auto; word-break: break-all};

}

/*MEDIUM SCREEN: Tablets, iPad*/
@media (max-width: 768px) {

  .post-content p {max-width: 100%};
  .post-content .highlighter-rouge pre code {max-width: 70%; white-space: normal; word-break: break-all};
}
