//COLORS
$gray: #808080;
$darkcyan: #189d9a;
$darkcyan2: #158784;
$strongcyan: #1fc9c5;
$lightgray: #d9d9d9;
$lightgray2: rgba(0, 0, 0, .2);


//MIXINS

@mixin box-shadow($value){
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
  box-shadow: $value;
}

@mixin transparent(){
  background-color: transparent;
}

@mixin filter($filter-type,$filter-amount){
  -webkit-filter: unquote($filter-type+unquote('(#{$filter-amount})'));
  -moz-filter: unquote($filter-type+unquote('(#{$filter-amount})'));
  -ms-filter: unquote($filter-type+unquote('(#{$filter-amount})'));
  -o-filter: unquote($filter-type+unquote('(#{$filter-amount})'));
  filter: unquote($filter-type+unquote('(#{$filter-amount})'));
}
//
// PARALLAX EFFECT
//

.parallax {

  background-attachment: fixed;
  background-image: url('/glpi-plugin/images/background1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;


}

.parallax2 {

  background-attachment: fixed;
  background-image: url('/glpi-plugin/images/background2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;


}

//
// NAVIGATION MENU
//

.dropdown-menu {
  &.dropdown-menu2 {

    @include transparent;
    //background-color: transparent !important;
    overflow: hidden;
 }
}

.modal-content {
  &.modal-content2 {

    background-color: transparent;
    overflow: hidden;
 }
}

// RECREATES THE ACRYLIC MATERIAL FROM THE FLUENT DESIGN
.acrylic {

  @include filter(blur, 20px);
  //-o-filter: blur(20px);
  //-webkit-filter: blur(20px);
  background-image: url('/glpi-plugin/images/Acrylic2(60).png');
  background-repeat: repeat;
  background-size: cover;

  //filter: blur(20px);

  height: 100%;
  left: 0;
  padding: 20px;
  position: absolute;

  right: 0;
  top: 0;
  transform: scale(1.1);
  width: 100%;

  z-index: -1;



}

.acrylic2 {

  -o-filter: blur(20px);
  -webkit-filter: blur(20px);
  background-image: url('/glpi-plugin/images/Acrylic1b(80).png');
  background-repeat: repeat;
  background-size: cover;
  filter: blur(20px);

  height: 100%;
  left: 0;
  padding: 20px;
  position: absolute;

  right: 0;
  top: 0;
  transform: scale(1.1);
  width: 100%;

  z-index: -1;



}

// RECREATES THE REVEAL FOCUS EFFECT FROM THE FLUENT DESIGN
.navbar-local {
  &a {

    transition: box-shadow 1s ease-out;
  }
}

.navbar-local {
  &a:hover {

    // box-sizing: border-box;
    // border: 2px solid #1fc9c5;
    box-shadow: 0 0 0 2px $strongcyan inset, 0 0 5px 1px $darkcyan;
 }
}

// STICKY HEADER OR GHOST MENU ON SCROLL

.ghost-menu {

  background-color: transparent;
  border-bottom: 2px solid $darkcyan2;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  &.navbar-brand {

    padding-left: 14px;
  }

}

.ghost-menu-icons {

  float: right;
  margin-left: 0;
  padding-left: 5px;

}


//
// RESPONSIVE PARAGRAPH STYLE TEMPLATE
//

.p-size {

  max-width: 32%;

}

.p-size2 {

  max-width: 55%;


}

.p-size3 {

  max-width: 40%;

}

.p-size4 {

  max-width: 43%;

}

// USE THIS CLASS ON "ROGUE LINES" (those lines that depic code with more than 60 characters per line), adds a grey border to the left to stay true to the original style
.p-size5 {

  border-left: 5px solid $lightgray;
  line-height: 1.6;
  max-width: 47%;
  overflow: hidden;
  padding-bottom: 12px;
  padding-left: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;

  &span {

    vertical-align: top;
  }

  &:hover {

    overflow: visible;
 }

}


.p-size6 {

  max-width: 58%;

  &li {

    max-width: 72%;
  }

}


// SMALL SCREEN: Smart phones
@media (max-width: 414px) {

  .p-size {max-width: 100%};
  .p-size2 {max-width: 100%};
  .p-size3 {max-width: 100%};
  .p-size4 {max-width: 100%};
  .p-size5 {
    max-width: 100%;
    overflow: auto;
    white-space: normal;
    word-break: break-all;
  };

  // .post-content .highlighter-rouge pre code {max-width: 100%; white-space: normal; overflow: auto; word-break: break-all};
  .p-size6 {max-width: 100%};
  .p-size6 {
    &li {max-width: 100%};
  }

}

// MEDIUM SCREEN: Tablets, iPad
@media (min-width: 414px) and (max-width: 768px) {

  .p-size {max-width: 60%};
  .p-size2 {max-width: 80%};
  .p-size3 {max-width: 70%};
  .p-size4 {max-width: 80%};
  .p-size5 {
    max-width: 70%;
    white-space: normal;
    word-break: break-all;
  };

  // .post-content .highlighter-rouge pre code {max-width: 70%; white-space: normal; word-break: break-all};
  .p-size6 {max-width: 63%};
  .p-size6 {
    &li {max-width: 75%};
  }

}

// LARGE SCREEN: Large Tablets, iPad Pro
@media (min-width: 768px) and (max-width: 1024px) {


  .p-size {max-width: 48%};
  .p-size2 {max-width: 80%};
  .p-size3 {max-width: 70%};
  .p-size4 {max-width: 80%};
  .p-size5 {
    max-width: 70%;
    white-space: normal;
    word-break: break-all;
  };

  // .post-content .highlighter-rouge pre code {max-width: 70%; white-space: normal; word-break: break-all};
  .p-size6 {max-width: 63%};
  .p-size6 {
    &li {max-width: 75%};
  }

}

//
// GENERAL DECORATIVE EFFECTS
//


// CREATES SHADOW EFFECT TO ADD MORE DEPTH
.boxshadow {

  @include box-shadow(0 0 5px $gray);
  background-color: $lightgray2;

}

// CODE-DOCUMENTATION FILES'S FOOTER STYLE
Blockquote {

  margin-bottom: 10px;

}

Blockquote {
  &.type-p2 {

    margin: 24px 0 0;
    padding: 4px 0 4px 21px;
  }
}

// ICON'S TRANSITION
.img-pop {

  transition: .2s ease-in-out;

}

// INCREASES THE SIZE OF THE ICONS ON HOVER
.img-pop {
  &:hover {

    @include box-shadow(0 0 5px $gray);
    transform: scale(1.1);
  }

}

.icon {

  height: 250px;
  width: 250px;

}

.footerstyle {

  border-top: 3px $darkcyan2 solid;

}

//
// CODE DOCUMENTATION POSTS STYLE
//


// EXTRA SMALL SCREEN: Smart phones
@media (max-width: 600px) {

  .post-content {
    &p {max-width: 100%};
  }

  .post-content .highlighter-rouge pre code {
    max-width: 100%;
    overflow: auto;
    white-space: normal;
    word-break: break-all;
  };

}

// SMALL SCREEN: Smart phones
@media (min-width: 600px) {

  .post-content {
    &p {max-width: 100%};
  }

  .post-content .highlighter-rouge pre code {max-width: 100%;
    overflow: auto;
    white-space: normal;
    word-break: break-all;
  };

}

// MEDIUM SCREEN: Tablets, iPad
@media (min-width: 768px) {

  .post-content {
    &p {max-width: 100%};
  }

  .post-content .highlighter-rouge pre code {
    max-width: 70%;
    white-space: normal;
    word-break: break-all;
  };
}

// LARGE SCREEN: Large Tablets, iPad Pro
@media (min-width: 992px) {

  .post-content .highlighter-rouge pre code {
    max-width: 54%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  };

  .post-content .highlighter-rouge pre code:hover {
    max-width: 95%;
    overflow: visible;
    white-space: normal;
    };

  .post-content {
    &p {max-width: 85%};
  }

}

// EXTRA LARGE SCREEN: Desktop
@media (min-width: 1200px) {

  .post-content .highlighter-rouge pre code {
    max-width: 48%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  };

  .post-content .highlighter-rouge pre code:hover {
    max-width: 95%;
    overflow: visible;
    white-space: normal;
    };

  .post-content {
    &p {max-width: 58%};
  }

}

//
// "SPECIFICATIONS" (INDEX.MD) FILE
//

// EXTRA SMALL SCREEN: Smart phones
@media (max-width: 600px) {

  .p-size7 .highlighter-rouge pre code {
    max-width: 100%;
    overflow: auto;
    white-space: normal;
    word-break: break-all;
  };

  .container.p-size7 {
    &p {max-width: 100%};
  }

  .container.p-size7 {
    &li {max-width: 100%};
  }

}

// SMALL SCREEN: Large Smart phones
@media (min-width: 600px) {

  .p-size7 .highlighter-rouge pre code {
    max-width: 100%;
    overflow: auto;
    white-space: normal;
    word-break: break-all;
  };

  .container.p-size7 {
    &p {max-width: 100%};
  }

  .container.p-size7 {
    &li {max-width: 100%};
  }

}

// MEDIUM SCREEN: Tablets, iPad
@media (min-width: 768px) {

  .p-size7 .highlighter-rouge pre code {
    max-width: 68%;
    white-space: normal;
    word-break: break-all;
  };

  .container.p-size7 {
    &p {max-width: 70%};
  }

  //.container.p-size7 {
  //  &h1 {max-width: 70%};
  //}

  //.container.p-size7 {
  //  &h2 {max-width: 70%};
  //}

  //.container.p-size7 {
  //  &h5 {max-width: 70%};
  //}

  //.container.p-size7 {
  //  &ul {max-width: 70%};
  //}

}

// LARGE SCREEN: Large Tablets, iPad Pro
@media (min-width: 992px) {

  .p-size7 .highlighter-rouge pre code {
    max-width: 36%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  };

  .p-size7 .highlighter-rouge pre code:hover {
    max-width: 95%;
    overflow: visible;
    white-space: normal;
    };

  .container.p-size7 {
    &p {max-width: 43%};
  }

  .container.p-size7 {
    &li {max-width: 46%};
  }

}

// EXTRA LARGE SCREEN: Desktop
@media (min-width: 1200px) {

  .p-size7 .highlighter-rouge pre code {
    max-width: 36%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  };

  .p-size7 .highlighter-rouge pre code:hover {
    max-width: 95%;
    overflow: visible;
    white-space: normal;
    };

  .container .p-size7 {
    &p {max-width: 33%};
  }
}


//
// PROJECTS FILE (projects.html)
//

.product {
  &p {

  max-width: 44%;
 }
}

// SMALL SCREEN: Smart phones
@media (max-width: 414px) {

  .product {
    &p {max-width: 100%};
 }
}

// MEDIUM SCREEN: Tablets, iPad
@media (min-width: 414px) and (max-width: 768px) {


  .product {
    &p {max-width: 60%};
 }
}

// LARGE SCREEN: Large Tablets, iPad Pro
@media (min-width: 768px) and (max-width: 1024px) {


  .product {
    &p {max-width: 42%};
 }
}


// **************
// *STYLE UPDATE*
// **************

// How-tos and Code documentations
.gohome {
  &.container {
    padding: 4% 0 0 1%;
  }
}

.post-header {
  border-bottom: inset rgb(21, 135, 132) 1px;
  padding-left: 3%;
}

.post-title {
  padding-top: 3%;
}

.col-xs-7 {
  padding: 0 0 2% 2%;
}

.post-content {
  &.row {
    &.type-p2 {

      &.p-size6 {
        border-bottom: dashed rgb(21, 135, 132) 1px;
        margin: 0;
        padding: 0 0 6% 5%;

        ul {
          li {
            max-width: 100%;

            a {
              font-weight: bold;
            }

            ul {
              li {
                .language-console {
                  &.highlighter-rouge {
                    .highlight {
                      max-width: 90%;
                    }
                  }
                }

                a {
                  font-weight: bold;
                }

              }
            }

          }
        }

        p {
          a {
            font-weight: bold;
          }

          img {
            padding-left: 2%;
          }

        }

        table {
          max-width: 100%;
        }

        ol {
          li {
            max-width: 95%;

            pre {
              max-width: 100%;
              padding: 0;
            }

          }
        }

      }

      // SMALL SCREEN: Smart phones
      @media (max-width: 414px) {
        &.p-size6 { max-width: 100%; };
      }

      // MEDIUM SCREEN: Tablets, iPad
      @media (min-width: 414px) and (max-width: 768px) {
        &.p-size6 { max-width: 58%; };
      }

      // LARGE SCREEN: Large Tablets, iPad Pro
      @media (min-width: 768px) and (max-width: 1024px) {
        &.p-size6 { max-width: 54%; };
      }

      // EXTRA LARGE SCREEN: Desktop
      @media (min-width: 1024px) {
        &.p-size6 { max-width: 40%; };
      }

      &.p-size2 {
        border-bottom: dashed rgb(21, 135, 132) 1px;
        margin: 0;
        max-width: 95%;
        padding: 3% 0 5% 5%;

        p {
          a {
            font-weight: bold;
          }
        }

        ul {
          li {
            a {
              font-weight: bold;
            }
          }
        }

      }

      // SMALL SCREEN: Smart phones
      @media (max-width: 414px) {
        &.p-size2 { max-width: 100%; };
      }

      // MEDIUM SCREEN: Tablets, iPad
      // @media (min-width: 414px) and (max-width: 768px) {
      //  &.p-size2 { max-width: 58%; };
      // }

      // LARGE SCREEN: Large Tablets, iPad Pro
      // @media (min-width: 768px) and (max-width: 1024px) {
      //  &.p-size2 { max-width: 54%; };
      // }

      // EXTRA LARGE SCREEN: Desktop
      // @media (min-width: 1024px) {
      //  &.p-size2 { max-width: 40%; };
      // }

    }
  }
}

blockquote {
  &.type-p2 {
    margin: 3% 0 5% 1%;

    a {
      font-weight: bold;
    }

  }
}

// Index (Jumbotron influences projects.html too)
.img-responsive {

  &.visible-xs-inline-block {
    &.visible-sm-inline-block {
      &.visible-md-inline-block {
        &.visible-lg-inline-block {
          &.visible-xl-inline-block {
            padding: 4% 0 0;
            width: 260px;
          }
        }
      }
    }
  }

  &.icon {
    &.visible-xs-inline-block {
      &.visible-sm-inline-block {
        &.visible-md-inline-block {
          &.visible-lg-inline-block {
            &.visible-xl-inline-block {
              width: 190px;
            }
          }
        }
      }
    }
  }

}

.type-h2 {
  padding: 7% 0 2%;
}

p {
  &.type-p2 {
    &.p-size2 {
      padding: 5% 0;
    }
  }
}

// SMALL SCREEN: Smart phones
@media (max-width: 414px) {
  p {
    &.type-p2 {
      &.p-size2 { max-width: 100%; };
    }
  }
}

// MEDIUM SCREEN: Tablets, iPad
@media (min-width: 414px) and (max-width: 768px) {
  p {
    &.type-p2 {
      &.p-size2 { max-width: 60%; };
    }
  }
}

// LARGE SCREEN: Large Tablets, iPad Pro
@media (min-width: 768px) and (max-width: 1024px) {
  p {
    &.type-p2 {
      &.p-size2 { max-width: 85%; };
    }
  }
}

// EXTRA LARGE SCREEN: Desktop
@media (min-width: 1024px) {
  p {
    &.type-p2 {
      &.p-size2 { max-width: 60%; };
    }
  }
}

ul {
  &.type-p2 {
    &.p-size2  {
      margin: 0 0 0 5%;
      padding-top: 2%;
    }
  }
}

// SMALL SCREEN: Smart phones
@media (max-width: 414px) {
  ul {
    &.type-p2 {
      &.p-size2 { max-width: 100%; };
    }
  }
}

// MEDIUM SCREEN: Tablets, iPad
@media (min-width: 414px) and (max-width: 768px) {
  ul {
    &.type-p2 {
      &.p-size2 { max-width: 100%; };
    }
  }
}

// LARGE SCREEN: Large Tablets, iPad Pro
@media (min-width: 768px) and (max-width: 1024px) {
  ul {
    &.type-p2 {
      &.p-size2 { max-width: 100%; };
    }
  }
}

// EXTRA LARGE SCREEN: Desktop
@media (min-width: 1024px) {
  ul {
    &.type-p2 {
      &.p-size2 { max-width: 60%; };
    }
  }
}

.type-p1 {
  &.p-size2 {
    padding: 5% 0 3%;
  }
}

// SMALL SCREEN: Smart phones
@media (max-width: 414px) {
  .type-p1 {
    &.p-size2 { max-width: 100%; };
  }
}

// MEDIUM SCREEN: Tablets, iPad
@media (min-width: 414px) and (max-width: 768px) {
  .type-p1 {
    &.p-size2 { max-width: 65%; };
  }
}

// LARGE SCREEN: Large Tablets, iPad Pro
@media (min-width: 768px) and (max-width: 1024px) {
  .type-p1 {
    &.p-size2 { max-width: 100%; };
  }
}

// EXTRA LARGE SCREEN: Desktop
@media (min-width: 1024px) {
  .type-p1 {
    &.p-size2 { max-width: 65%; };
  }
}

.type-p2 {
  &.p-size {
    padding-bottom: 5%;

    a {
      font-weight: bold;
    }

  }
}

// SMALL SCREEN: Smart phones
@media (max-width: 414px) {
  .type-p2 {
    &.p-size { max-width: 100%; };
  }
}

// MEDIUM SCREEN: Tablets, iPad
@media (min-width: 414px) and (max-width: 768px) {
  .type-p2 {
    &.p-size { max-width: 60%; };
  }
}

// LARGE SCREEN: Large Tablets, iPad Pro
@media (min-width: 768px) and (max-width: 1024px) {
  .type-p2 {
    &.p-size { max-width: 45%; };
  }
}

// EXTRA LARGE SCREEN: Desktop
@media (min-width: 1024px) {
  .type-p2 {
    &.p-size { max-width: 30%; };
  }
}

.jumbotron {

  &.theme-dark {
    padding: 2% 0;
  }

  &.theme-light {
    padding: 1% 0 3% 2%;
  }

  &.theme-default {
    padding: 1% 0 1% 2%;
  }

}

.container {

  .col-md-12 {

    &.col-md-push-12 {
      &.text-center {
        padding-top: 1%;
      }
    }

    &.col-md-pull-12 {
      padding: 1% 0 2%;

      h3 {
        padding-top: 3%;
      }

    }

  }

  h2 {
    padding-left: 2%;
  }

  // Projects
  &.product {
    padding-top: 1%;

    h2 {
      font-weight: bold;
    }

  }

  // Contact
  &.contact-page {

    .type-t1 {
      padding-left: 2%;
    }

    .type-p1 {
      font-weight: bold;
      padding-left: 3%;
    }

    .row {
      &.social {
        padding-left: 3%;
      }
    }

    .type-p2 {
      &.p-size3 {
        padding-left: 3%;

        a {
          font-weight: bold;
        }

      }
    }

    // SMALL SCREEN: Smart phones
    @media (max-width: 414px) {
      .type-p2 {
        &.p-size3 { max-width: 100%; };
      }
    }

    // MEDIUM SCREEN: Tablets, iPad
    @media (min-width: 414px) and (max-width: 768px) {
      .type-p2 {
        &.p-size3 { max-width: 65%; };
      }
    }

    // LARGE SCREEN: Large Tablets, iPad Pro
    @media (min-width: 768px) and (max-width: 1024px) {
      .type-p2 {
        &.p-size3 { max-width: 55%; };
      }
    }

    // EXTRA LARGE SCREEN: Desktop
    @media (min-width: 1024px) {
      .type-p2 {
        &.p-size3 { max-width: 40%; };
      }
    }

    .p-size3 {
      margin-left: 3%;
    }

    // SMALL SCREEN: Smart phones
    @media (max-width: 414px) {
      .p-size3 { max-width: 100%; };
    }

    // MEDIUM SCREEN: Tablets, iPad
    @media (min-width: 414px) and (max-width: 768px) {
      .p-size3 { max-width: 65%; };
    }

    // LARGE SCREEN: Large Tablets, iPad Pro
    @media (min-width: 768px) and (max-width: 1024px) {
      .p-size3 { max-width: 50%; };
    }

    // EXTRA LARGE SCREEN: Desktop
    @media (min-width: 1024px) {
      .p-size3 { max-width: 35%; };
    }

  }

  // container2.html
  &.p-size6 {
    margin: 0 0 2% 5%;
    padding: 0 0 5% 3%;
  }

  // SMALL SCREEN: Smart phones
  @media (max-width: 414px) {
    &.p-size6 { max-width: 100%; };
  }

  // MEDIUM SCREEN: Tablets, iPad
  @media (min-width: 414px) and (max-width: 768px) {
    &.p-size6 { max-width: 50%; };
  }

  // LARGE SCREEN: Large Tablets, iPad Pro
  @media (min-width: 768px) and (max-width: 1024px) {
    &.p-size6 { max-width: 39%; };
  }

  // EXTRA LARGE SCREEN: Desktop
  @media (min-width: 1024px) {
    &.p-size6 { max-width: 22%; };
  }

}

// News
div {
  &.container {
    h1 {
      font-size: 265%;
    }
  }
}

li {
  h2 {
    padding-top: 3%;

    a {
      .post-link {
        font-size: 64%;
        font-weight: bold;
      }
    }

  }
}

// Development/Code Documentation - How tos
.article-howtos {

  &.type-p1 {
    padding-top: 1%;

    ul {
      li {
        h3 {
          padding: 0;

          a {
            &.post-link {
              font-size: 80%;
              font-weight: bold;
            }
          }

        }
      }
    }

  }

  h4 {
    padding-top: 3%;
    text-indent: 3%;

    a {
      &.post-link {
        font-size: 90%;
        font-weight: bold;
      }
    }

    p {
      text-indent: 6%;
    }

  }

}

// Code coverage
.table-responsive {
  padding-top: 5%;

  .container-fluid {
    .col-lg-12 {
      .row {
        h1 {
          padding-bottom: 2%;
        }
      }
    }
  }

}
