/*********************/
/***NAVIGATION MENU***/
/*********************/

#dropdown-menu2 {

  background-color: transparent;
  overflow: hidden;

}

#modal-content {

  background-color: transparent;
  overflow: hidden;

}

/*RECREATES THE ACRYLIC MATERIAL FROM THE FLUENT DESIGN*/
.acrylic{

  background-image: url("/glpi-plugin/images/Acrylic2(60).png");
  background-repeat: repeat;

  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;

  top: 0px;
  right: 0px;
  left: 0px;

  z-index: -1;
  background-size: cover;
  -webkit-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);
  transform: scale(1.1);



}

.acrylic2{

  background-image: url("/glpi-plugin/images/Acrylic1b(80).png");
  background-repeat: repeat;

  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;

  top: 0px;
  right: 0px;
  left: 0px;

  z-index: -1;
  background-size: cover;
  -webkit-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);
  transform: scale(1.1);



}

/*RECREATES THE REVEAL FOCUS EFFECT FROM THE FLUENT DESIGN*/
.navbar-local a {

  transition: box-shadow 1s ease-out;

}

.navbar-local a:hover {

  /*box-sizing: border-box;*/
  /*border: 2px solid #1fc9c5;*/
  box-shadow: 0 0 0 2px #1fc9c5 inset, 0 0 5px 1px #189d9a;

}

/*STICKY HEADER OR GHOST MENU ON SCROLL*/

#ghost-menu{

  visibility: hidden;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #158784;
  background-color: transparent;

}

.ghost-menu-icons {

  float: right;
  margin-left: 5px;

}

/********************************/
/***RESPONSIVE PARAGRAPH STYLE TEMPLATE***/
/*******************************/

.p-size {

  max-width: 32%;

}

.p-size2 {

  max-width: 58%;


}

.p-size3 {

  max-width: 40%;

}

.p-size4 {

  max-width: 43%;

}

/*USE THIS CLASS ON "ROGUE LINES" (those lines that depic code with more than 60 characters per line), adds a grey border to the left to stay true to the original style */
.p-size5 {

  /*background-color: red;*/
  max-width: 47%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.6;
  padding-left: 12px;
  padding-bottom: 12px;
  border-left: 5px solid #D9D9D9;

}

.p-size5 span{

  vertical-align: top;

}

.p-size5:hover {

  overflow: visible;

}

.p-size6 {

  max-width: 58%;


}

.p-size6 li{

  max-width: 72%;

}


/*
ul.p-size3 {

  margin-left: 30px;

}
*/

/*SMALL SCREEN: Smart phones*/
@media (max-width: 414px) {

  .p-size {max-width: 100%};
  .p-size2 {max-width: 100%};
  .p-size3 {max-width: 100%};
  .p-size4 {max-width: 100%};
  .p-size5 {max-width: 100%; white-space: normal; overflow: auto; word-break: break-all};
  .post-content .highlighter-rouge pre code {max-width: 100%; white-space: normal; overflow: auto; word-break: break-all};
  .p-size6 {max-width: 100%};
  .p-size6 li{max-width: 100%};

}

/*MEDIUM SCREEN: Tablets, iPad*/
@media (max-width: 768px) {

  .p-size {max-width: 60%};
  .p-size2 {max-width: 80%};
  .p-size3 {max-width: 70%};
  .p-size4 {max-width: 80%};
  .p-size5 {max-width: 70%; white-space: normal; word-break: break-all};
  .post-content .highlighter-rouge pre code {max-width: 70%; white-space: normal; word-break: break-all};
  .p-size6 {max-width: 63%};
  .p-size6 li{max-width: 75%};

}

/*************************************/
/*****GENERAL DECORATIVE EFFECTS******/
/*************************************/


/*CREATES SHADOW EFFECT TO ADD MORE DEPTH*/
.boxshadow {

  box-shadow: 0px 0px 5px grey;
  -moz-box-shadow:0 0 5px grey;
  -webkit-box-shadow:0 0 5px grey;
  background-color: rgba(0,0,0,0.2);

}

/*CODE-DOCUMENTATION FILES'S FOOTER STYLE*/
Blockquote {

  margin-bottom: 10px;

}

Blockquote.type-p2 {

  padding: 4px 0 4px 21px;
  margin: 24px 0 0;

}

/*ICON'S TRANSITION*/
.img-pop {

  transition: all .2s ease-in-out;

}

/*INCREASES THE SIZE OF THE ICONS ON HOVER*/
.img-pop:hover {

  transform: scale(1.1);
  box-shadow: 0px 0px 5px grey;
  -moz-box-shadow:0 0 5px grey;
  -webkit-box-shadow:0 0 5px grey;

}

.icon {

  height: 250px;
  width: 250px;

}

.footerstyle {

  border-top: 3px #158784 solid;

}

/**********************************/
/**CODE DOCUMENTATION POSTS STYLE**/
/**********************************/


.post-content .highlighter-rouge pre code{

  max-width: 66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.post-content .highlighter-rouge pre code:hover{

  white-space: normal;
  max-width: 95%;
  overflow: visible;

}

.post-content p{

  max-width: 58%;

}

/*SMALL SCREEN: Smart phones*/
@media (max-width: 414px) {

  .post-content p {max-width: 100%};
  .post-content .highlighter-rouge pre code {max-width: 100%; white-space: normal; overflow: auto; word-break: break-all};

}

/*MEDIUM SCREEN: Tablets, iPad*/
@media (max-width: 768px) {

  .post-content p {max-width: 100%};
  .post-content .highlighter-rouge pre code {max-width: 70%; white-space: normal; word-break: break-all};
}


/***************************************/
/** "SPECIFICATIONS" (INDEX.MD) FILE **/
/**************************************/

#p-size6 p {

  max-width: 33%;

}

#p-size6 .highlighter-rouge pre code{

  max-width: 36%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

#p-size6 .highlighter-rouge pre code:hover{

  white-space: normal;
  max-width: 95%;
  overflow: visible;

}


/*SMALL SCREEN: Smart phones*/
@media (max-width: 414px) {

  #p-size6 .highlighter-rouge pre code {max-width: 100%; white-space: normal; overflow: auto; word-break: break-all};
  #p-size6 p {max-width: 100%};

}

/*MEDIUM SCREEN: Tablets, iPad*/
@media (max-width: 768px) {


  #p-size6 .highlighter-rouge pre code {max-width: 68%; white-space: normal; word-break: break-all};
  #p-size6 p {max-width: 55%};

}

/*LARGE SCREEN: Large Tablets, iPad Pro*/
@media (max-width: 1024px) {


  #p-size6 .highlighter-rouge pre code {max-width: 68%; white-space: normal; word-break: break-all};
  #p-size6 p {max-width: 47%};

}


/*********************************/
/**PROJECTS FILE (projects.html)**/
/*********************************/

.product p {

  /*background-color: blue;*/
  max-width: 44%;

}

/*SMALL SCREEN: Smart phones*/
@media (max-width: 414px) {

  .product p {max-width: 100%};

}

/*MEDIUM SCREEN: Tablets, iPad*/
@media (max-width: 768px) {


  .product p {max-width: 60%};

}

/*LARGE SCREEN: Large Tablets, iPad Pro*/
@media (max-width: 1024px) {


  .product p {max-width: 42%};

}


/**************/
/*STYLE UPDATE*/
/**************/

/*How-tos and Code documentations*/
.goHome.container{
  padding: 4% 0 0 1%;
}

.post-header{
  padding-left: 3%;
  border-bottom: inset #158784 1px;
}

.post-title{
  padding-top: 3%;
}

.col-xs-7{
  padding: 0 0 2% 2%;
}

.post-content.row.type-p2.p-size6{
  padding: 0 0 6% 5%;
  border-bottom: dashed #158784 1px;
}

blockquote.type-p2{
  margin: 3% 0 5% 1%
}

.post-content.row.type-p2.p-size2{
  padding: 0 0 4% 5%;
  border-bottom: dashed #158784 1px;
}