<table class="tab_cadre_fixe" cellpadding="5">
   <tbody>
      <tr>
         <th colspan="3" class="">{{ __('MQTT broker', 'flyvemdm') }}</th>
      </tr>
      <tr class="tab_bg_1">
         <td>{{ __('Enabled') }}</td>
         <td>{{ config.mqtt_enabled|raw }}</td>
      </tr>
      <tr class="tab_bg_1">
         <td>{{ __('MQTT broker address for clients', 'flyvemdm') }}</td>
         <td><input type="text" name="mqtt_broker_address" value="{{ config.mqtt_broker_address }}"></td>
         <td>{{ __('An IP address or a hostname used by the client devices to communicate with the broker', 'flyvemdm') }}</td>
      </tr>
      <tr class="tab_bg_1">
         <td>{{ __('MQTT broker address for backend', 'flyvemdm') }}</td>
         <td><input type="text" name="mqtt_broker_internal_address"
            value="{{ config.mqtt_broker_internal_address }}"></td>
         <td>{{ __('An IP address or a hostname used by the backend to communicate with the broker', 'flyvemdm') }}</td>
      </tr>
      <tr class="tab_bg_1">
         <td>{{ __('MQTT broker port', 'flyvemdm') }}</td>
         <td><input type="number" name="mqtt_broker_port" value="{{ config.mqtt_broker_port }}"
            min="1" max="65535"></td>
         <td>{{ __('A port number between 1025 and 65535, standard port is 1883', 'flyvemdm') }}</td>
      </tr>
      <tr class="tab_bg_1">
         <td>{{ __('MQTT broker port for TLS', 'flyvemdm') }}</td>
         <td><input type="number" name="mqtt_broker_tls_port" value="{{ config.mqtt_broker_tls_port }}"
            min="1" max="65535"></td>
         <td>{{ __('A port number between 1025 and 65535, standard port is 8883', 'flyvemdm') }}</td>
      </tr>
      <tr class="tab_bg_1">
         <td>{{ __('Use TLS for clients', 'flyvemdm') }}</td>
         <td>{{ config.mqtt_tls_for_clients|raw }}
         </td>
         <td>{{ __('Use TLS for MQTT communication between the broker and the client devices', 'flyvemdm') }}</td>
      </tr>
      <tr class="tab_bg_1">
         <td>{{ __('Use TLS for backend', 'flyvemdm') }}</td>
         <td>{{ config.mqtt_tls_for_backend|raw }}
         </td>
         <td>{{ __('Use TLS for MQTT communication between the broker and the backend', 'flyvemdm') }}</td>
      </tr>
      <tr class="tab_bg_1">
         <td>{{ __('CA certificate', 'flyvemdm') }}</td>
         <td>{{ config.CACertificateFile|raw }}</td>
         <td></td>
      </tr>
      <tr class="tab_bg_1">
         <td>{{ __('Cipher suite (TLS enabled)', 'flyvemdm') }}</td>
         <td><input type="text" name="mqtt_broker_tls_ciphers"
            value="{{ config.mqtt_broker_tls_ciphers }}"></td>
         <td>{{ __('Mqtt broker cipher suite', 'flyvemdm') }}</td>
      </tr>
      <tr class="">
         <td>test</td>
         <td><input type="button" id="pluginFlyvemdm-mqtt-test"
            name="mqtt-test" value="{{ __('test', 'flyvemdm') }}" class="submit"><span
            id="pluginFlyvemdm-test-feedback"></span></td>
      </tr>
      <tr>
         <th colspan="3" class="">{{ __('Client certificate server (Broker MQTT with TLS enabled)', 'flyvemdm') }}</th>
      </tr>
      <tr class="tab_bg_1">
         <td>{{ __('Use client certificates', 'flyvemdm') }}</td>
         <td>{{ config.mqtt_use_client_cert|raw }}</td>
         <td></td>
      </tr>
      <tr class="tab_bg_1">
         <td>{{ __('Ssl certificate server for MQTT clients', 'flyvemdm') }}</td>
         <td><input type="text" name="ssl_cert_url" value="{{ config.ssl_cert_url }}"></td>
         <td>{{ __('https://cert.domain.com/path/to/service', 'flyvemdm') }}</td>
      </tr>
      <tr>
         <th colspan="3" class="">{{ __('Firebase Cloud Messaging', 'flyvemdm') }}</th>
      </tr>
      <tr class="tab_bg_1">
         <td>{{ __('Enabled') }}</td>
         <td>{{ config.fcm_enabled|raw }}</td>
         <td>{{ __('This feature is in experimental phase', 'flyvemdm') }}</td>
      </tr>
      <tr class="tab_bg_1">
         <td>{{ __('API token') }}</td>
         <td><input type="text" name="fcm_api_token" value="{{ config.fcm_api_token }}"></td>
         <td>{{ __('The server key token given on Firebase settings', 'flyvemdm') }}</td>
      </tr>
      <tr class="tab_bg_1">
         <td class="center" colspan="2">
            <input type="hidden" name="id" value="1" class="submit">
            <input type="hidden" name="config_context" value="flyvemdm">
            <input type="hidden" name="config_class" value="PluginFlyvemdmConfig">
            <input type="submit" name="update" value="{{ __('Save') }}" class="submit">
         </td>
      </tr>
   </tbody>
</table>
