<table class="tab_cadre_fixe" cellpadding="5">
	<tbody>
		{% if step == -1 %}
		<tr>
			<th colspan="3" class="">{{ __('Installation wizard',
				'flyvemdm') }}</th>
		</tr>
		<tr class="tab_bg_1">
			<td class="center" colspan="2">{{ __('Wizard complete', 'flyvemdm') }}<br>
			</td>
		</tr>
		<tr class="tab_bg_1">
			<td colspan="2">
				<p>{{ __('Wizard complete', 'flyvemdm') }}</p>
				<p>{{ __('This wizard will no longer be accessible.', 'flyvemdm') }}</p>
			</td>
		</tr>
		{% endif %} {% if step == 1 %}
		<tr>
			<th colspan="3" class="">{{ __('Installation wizard', 'flyvemdm') }}</th>
		</tr>
		<tr class="tab_bg_1">
			<td class="center" colspan="2">{{ __('Requirements', 'flyvemdm') }}<br>
			</td>
		</tr>
		<tr class="tab_bg_1">
			<td colspan="2">
				<p>{{ __('To setup Flyve MDM please connect to your server with a command line interface. Some operations require a root access.', 'flyvemdm') }}</p>
				<p>{{ __('This wizard will guide you through the steps to setup Flyve MDM.', 'flyvemdm') }}</p>
			</td>
		</tr>
		{% endif %} {% if step == 100 %}
		<tr>
			<th colspan="3" class="">{{ __('Email notifications', 'flyvemdm') }}</th>
		</tr>
		<tr class="tab_bg_1">
			<td>
				<p>{{ __('Flyve MDM requires email notifications. The following link will open a new tab to the email notifications settings.', 'flyvemdm') }}</p>
				<p><a href="../../../front/notificationmailingsetting.form.php" target="_blank">{{ __('Email notifications', 'flyvemdm' )}}</a></p>
				<p>{{ __('Flyve MDM requires cron job to run automatic actions.', 'flyvemdm') }}</p>
				<p>{{ __('As root in a terminal, execute the following command.', 'flyvemdm') }}</p>
			</td>
		</tr>
		{% endif %} {% if step == 101 %}
		<tr>
			<th colspan="3" class="">{{ __('REST API', 'flyvemdm') }}</th>
		</tr>
		<tr class="tab_bg_1">
			<td>
				<p>{{ __('Flyve MDM requires REST API enabled. The following link will open a new tab to the REST API setings.', 'flyvemdm') }}</p>
				<p>{{ __('Please enable the following settings:', 'flyvemdm') }}</p>
				<p>{{ __('- Enable Rest API', 'flyvemdm') }}</p>
				<p>{{ __('- Enable login with credentials', 'flyvemdm') }}</p>
				<p>{{ __('- Enable login with external token', 'flyvemdm') }}</p>
				<p>{{ __('- Add an API client leaving empty IPv4 address range, IPv6 address and application token.', 'flyvemdm') }}</p>
				<p><a href="../../../front/config.form.php?forcetab=Config$8" target="_blank">{{ __('API', 'flyvemdm' )}}</a></p>
			</td>
		</tr>
		{% endif %} {% if step == 102 %}
		<tr>
			<th colspan="3" class="">{{ __('REST API', 'flyvemdm') }}</th>
		</tr>
		<tr class="tab_bg_1">
			<td>
				<p>{{ __('Flyve MDM requires cron job to run automatic actions.', 'flyvemdm') }}</p>
				<p>{{ __('As root in a terminal, execute the following command. Adapt www-data to the user running your HTTP server.', 'flyvemdm') }}</p>
				<p>{{ __('crontab -e -u www-data', 'flyvemdm') }}</p>
				<p>{{ __('Add, if missing, the following line. Adapt path to php CLI binary and path to GLPI:', 'flyvemdm') }}</p>
				<p>*/1 * * * * /usr/bin/php /var/www/html/glpi/front/cron.php &amp;>/dev/null</p>
				<p>{{ __('Automatic actions registered in the scheduler of GLPI will run every minute.', 'flyvemdm') }}</p>
			</td>
		</tr>
		{% endif %} {% if step == 103 %}
		<tr>
			<th colspan="3" class="">{{ __('DBMS access for Mosquitto', 'flyvemdm') }}</th>
		</tr>
		<tr class="tab_bg_1">
			<td>
				<p>{{ __('Flyve MDM requires that Mosquitto has access to your database.', 'flyvemdm') }}</p>
				<p>{{ __('It is recommended to create a dedicated user for Mosquitto allowed to connect only from its specific IP.', 'flyvemdm') }}</p>
				<p>mysql -e "CREATE USER 'mosquitto'@'mqtt.server.ip' IDENTIFIED BY 'password';"</p>
				<p>{{ __('This user should be able to only SELECT the following tables:', 'flyvemdm') }}</p>
				<p>- glpi_plugin_flyvemdm_mqttusers</p>
				<p>- glpi_plugin_flyvemdm_mqttacls</p>
				<p>mysql -e "GRANT SELECT ON glpi.glpi_plugin_flyvemdm_mqttusers TO 'mosquitto'@'mqtt.server.ip';"</p>
				<p>mysql -e "GRANT SELECT ON glpi.glpi_plugin_flyvemdm_mqttacls TO 'mosquitto'@'mqtt.server.ip';"</p>
				<p>{{ __('Create the file', 'flyvemdm') }}/etc/mysql/conf.d/flyvemdm.cnf</p>
				<p>{{ __('Insert the following content, and adapt the bind address to the interface used by Mosquitto to connect to your DBMS.', 'flyvemdm') }}</p>
				<p><textarea disabled="" rows="6" cols="80">[mysqld]
bind-address = 0.0.0.0
</textarea></p>
				<p>{{ __('Restart your DBMS daemon and check it listens to the expected interface.', 'flyvemdm') }}</p>
				<p>{{ __('Check you can login to your DBMD from the host which will run Mosquitto.', 'flyvemdm') }}</p>
			</td>
		</tr>
		{% endif %} {% if step == 104 %}
		<tr>
			<th colspan="3" class="">{{ __('Mosquitto', 'flyvemdm') }}</th>
		</tr>
		<tr class="tab_bg_1">
			<td>
				<p>{{ __('Flyve MDM requires a Message queue server.', 'flyvemdm') }}</p>
				<p>{{ __('Prefer a dedicated server or VM for running Mosquitto.', 'flyvemdm') }}</p>
				<p>{{ __('As root in a terminal, execute the following command', 'flyvemdm') }}</p>
				<p>apt-get install mosquitto mosquitto-auth-plug</p>
				<p>{{ __('Create', 'flyvemdm') }}&nbsp;/etc/mosquitto/conf.d/flyvemdm.conf
				   {{ __('Add the following content, adapting your DBMS credentials:', 'flyvemdm') }}</p>
				<p><textarea disabled="" rows="12" cols="80">allow_anonymous false

auth_plugin /usr/local/lib/libmosquitto-auth-plug.so
auth_opt_backends mysql
auth_opt_host backend-server-ip-or-fqdn
auth_opt_port 3306
auth_opt_user database-user
auth_opt_dbname glpi
auth_opt_pass StrongPassword
auth_opt_userquery SELECT password FROM glpi_plugin_flyvemdm_mqttusers WHERE user='%s' AND enabled='1'
auth_opt_aclquery SELECT topic FROM glpi_plugin_flyvemdm_mqttacls a LEFT JOIN glpi_plugin_flyvemdm_mqttusers u ON (a.plugin_flyvemdm_mqttusers_id = u.id) WHERE u.user='%s' AND u.enabled='1' AND (a.access_level & %d)
auth_opt_cacheseconds 300</textarea></p>
			<p>{{ __('Check Mosquitto is listening to port 1883 (insecure).', 'flyvemdm') }}</p>
			</td>
		</tr>
		{% endif %} {% if step == 105 %}
		<tr>
			<th colspan="3" class="">{{ __('Mosquitto client for the backend', 'flyvemdm') }}</th>
		</tr>
		<tr class="tab_bg_1">
			<td>
				<p>{{ __('Flyve MDM requires to connect to Mosquitto.', 'flyvemdm') }}</p>
				<p>{{ __('For SYSV systems, link the init script in /etc/init.d/', 'flyvemdm') }}</p>
				<p>ln -s /var/www/html/glpi/plugins/flyvemdm/scripts/service.sh /etc/init.d/flyvemdm</p>
				<p>{{ __('Check the user configured in the script and adapt it if needed.', 'flyvemdm') }}</p>
				<p>update-rc.d flyvemdm defaults</p>
				<p>service flyvemdm start</p>
			</td>
		</tr>
		{% endif %}
		<tr class="tab_bg_1">
			<td class="center" colspan="2">
				<input type="hidden" name="id" value="1" class="submit">
				<input type="hidden" name="config_context" value="flyvemdm">
				<input type="hidden" name="config_class" value="PluginFlyvemdmConfig">
				{% if step > 1 or step == -1 %}
				<input type="submit" name="back" value="{{ __('Back', 'flyvemdm') }}" class="submit">
				&nbsp;&nbsp;
				{% endif %}
				<input type="submit" name="update" value="{{ update }}" class="submit">
			</td>
		</tr>
		<tr class="tab_bg_1">
			<td class="right" colspan="2">
			{{ __('Wizard page:','flyvemdm') }}&nbsp;{{ step }}
			</td>
		</tr>
	</tbody>
</table>
