{% if isNewID == true %}
<tr>
   <td>
      {{ __('User') }}
   </td>
   <td>
      {{ invitation.user|raw }}
   </td>
</tr>
{% else %}
<tr>
  <td>
  {{ __('There is nothing to change in an invitation. You may only need to re-send it.') }}
  </td>
</tr>
<tr>
  <td>
     {{ resendButton|raw }}
   </td>
</tr>
{% endif %}
