{% if form.mode == "update" %}
<form name="policy_editor_form{{ form.rand }}" id="policy_editor_form{{ form.rand }}" method="post"
      action="/plugins/flyvemdm/front/task.form.php"><br>
{% endif %}
{{ form.input|raw }}
{% if form.mode == "update" %}
   {{ form._csrf|raw }}
   <input type='hidden' name='id' value='{{ form.taskId }}'>
   <input type='hidden' name='plugin_flyvemdm_policies_id' value='{{ form.policyId }}'>
   <input type='hidden' name='plugin_flyvemdm_fleets_id' value='{{ form.fleetId }}'>
   <br><br><input type='submit' class='submit' name='update' value='{{ _x("button", "Update") }}'>
</form>
{% endif %}